.otp-div{
    width: 650px;
    margin: auto;
    border: 1px solid dimgray; 
}
.otp_box{
    background-color: whitesmoke;
    padding: 10px;
    border-top: 1px solid dimgray;
    display: flex;
}
.otp-p{
    margin: 10px 0;
}
#otp_value{
    margin: 10px 0;
    height: 20px;
}
.otp-btn{
    height: 30px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid dimgray;
    margin: 16px 0;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
} 