@media screen and (min-width: 1200px) {
  .brkbjr {
    padding: 0 8vw;
  }
}
@media screen and (min-width: 1600px) {
  .brkbjr {
    padding: 0 12vw;
  }
}

.hbRWNi h2 {
  text-align: center;
}
.hbRWNi .active {
  color: #00aeef;
  border-color: #00aeef;
  background-color: #e8f8fe;
}
.hbRWNi .related-card {
  padding: 0 4px;
  width: 50%;
}
.hbRWNi .cat-list {
  overflow-x: auto;
  white-space: nowrap;
}
.hbRWNi .cat-list::-webkit-scrollbar {
  display: none;
}
.hbRWNi .cat-list {
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
}
.hbRWNi .titleProductSlider {
  color: #333;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  padding-bottom: 0.9rem;
}
.hbRWNi .titleProductSlider:after {
  content: "";
  display: block;
  background: #41a8dd;
  height: 2px;
  position: absolute;
  bottom: 0px;
  width: 25%;
}
.hbRWNi .ProductGrid_WithoutSlider {
  margin: 1rem 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0;
}
@media only screen and (min-width: 767px) {
  .hbRWNi .ProductGrid_WithoutSlider {
    margin: 1rem 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hbRWNi {
    padding-top: 1rem;
  }
  .hbRWNi .related-card {
    width: 25%;
    padding: 0 8px;
  }
}

.gMJIDH {
  max-width: 100%;
  margin: 0;
}
.gMJIDH .placeholder {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/static/mamaearth/placeholder.png");
}
.gMJIDH .subtitle {
  font-style: italic;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #3d3d3d;
  font-size: 1.2rem;
  min-height: 2rem;
  font-weight: 100;
  margin: 0 0 6px 0;
}
.gMJIDH .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.gMJIDH .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160%;
}
.gMJIDH .video-wrapper-desktop iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gMJIDH .incl-tax {
  color: #747474;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}
.gMJIDH .slick-prev {
  top: 45%;
  left: 10px;
  z-index: 1;
}
.gMJIDH .slick-next {
  top: 45%;
  right: 18px;
  z-index: 1;
}
.gMJIDH .slick-list {
  min-height: 320px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin: 10px;
}
.gMJIDH .slick-dots {
  top: -12px;
}
.gMJIDH .prod {
  color: #1d1d1d;
  margin-top: 10px;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.gMJIDH .image-gallery-slide-wrapper {
  min-height: 320px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  padding: 1rem;
}
.gMJIDH .image-gallery-image {
  text-align: center;
}
.gMJIDH .ReviewBox {
  display: flex;
}
.gMJIDH .ReviewBox a {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.9rem;
  text-decoration: none;
  color: gray;
}
.gMJIDH .review-count {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.8rem !important;
  font-size: 14px;
  display: block;
}
.gMJIDH .html {
  overflow-x: hidden;
}
.gMJIDH .pdp_description {
  text-align: left;
}
.gMJIDH .titleName {
  text-align: left;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.8rem;
}

.bwzWWK {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
@media only screen and (min-width: 0em) {
  .bwzWWK {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 64em) {
  .bwzWWK {
    -webkit-flex-basis: 33.333333333333336%;
    -ms-flex-preferred-size: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
    max-width: 33.333333333333336%;
    display: block;
  }
}

.image-gallery-image {
  border: 0.5px solid lightgray;
  border-radius: 10px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.image-gallery-image img {
  max-width: 60vmin;
}

.gMJIDH .image-gallery-image {
  text-align: center;
}

.fDzVJS {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
@media only screen and (min-width: 0em) {
  .fDzVJS {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 64em) {
  .fDzVJS {
    -webkit-flex-basis: 66.66666666666667%;
    -ms-flex-preferred-size: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
    max-width: 66.66666666666667%;
    display: block;
  }
}

.cMrDeE {
  position: -webkit-sticky;
  position: sticky;
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .cMrDeE .pdp_image {
    margin-bottom: 3%;
    width: 100%;
    height: auto;
  }
}

.dJsjSb {
  font-weight: 500;
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .dJsjSb {
    display: none;
  }
}

.bZiWWr {
  color: #3fc3f3;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-transform: lowercase;
  text-transform: capitalize;
}
.bZiWWr:hover {
  color: #3ca0da;
  opacity: 1.5;
  border-bottom: 1px solid #3ca0da;
}

.isHcOi {
  cursor: default;
}
.isHcOi:hover {
  opacity: 0.8;
}

.dTITDo {
  color: #1d1d1d;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: left;
  margin: 6px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .dTITDo {
    margin-top: 0;
    font-size: 1.25rem;
  }
}

.gMJIDH .subtitle {
  font-style: italic;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #3d3d3d;
  font-size: 1.2rem;
  min-height: 2rem;
  font-weight: 100;
  margin: 0 0 6px 0;
}

.jxKkET {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}

.gMJIDH .rating {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  padding-right: 0.8rem !important;
  border-right: 1px solid #d6d6d6;
}

.bmhhIJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #59a30e;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.elzEVB {
  margin: 0.4rem 0rem;
  font-size: 14px;
  color: red;
}
@media only screen and (max-width: 767px) {
  .elzEVB {
    font-size: 16px;
  }
}

.MzUhh .price {
  color: #1d1d1d;
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .MzUhh .price {
    font-size: 1.5rem;
  }
}

.cMqoec {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
@media only screen and (min-width: 0em) {
  .cMqoec {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 64em) {
  .cMqoec {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
    display: block;
  }
}

.gMJIDH .prod {
  color: #1d1d1d;
  margin-top: 10px;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.eFLmsU {
  --height: 10px;
  --color: #f2f2f2;
  width: 100%;
  border-bottom: var(--height) solid var(--color);
}

.dkcZPs {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
@media only screen and (min-width: 64em) {
  .dkcZPs {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    display: block;
  }
}

.gMJIDH .atc-box {
  background: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
  margin: 0.5rem;
  position: fixed;
  top: 260px;
  width: 280px;
  right: 0;
  z-index: 1;
}

.fOFLeU .qty-selector {
  left: 0;
  margin: 5px 0 15px 0;
  width: 85px;
  height: 34px;
  /* border: 1px solid red; */
}
.fOFLeU .ATC_Button {
  padding: 0.6rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .fOFLeU .ATC_Button {
    padding: 1rem;
    position: fixed;
    border-radius: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    height: 50px;
  }
}

.jHAKej {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  line-height: 1.2em;
}
.jHAKej button {
  background-color: transparent;
  outline: none;
  color: #8a8c8b;
  font-size: 12px;
  padding: 0px 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.jHAKej .icon-back:hover {
  background-color: #989898;
  color: white;
}
.jHAKej button:hover,
.jHAKej button:active {
  background-color: #00afef;
}
.jHAKej button:hover i,
.jHAKej button:active i {
  color: #fff;
}
.jHAKej input {
  padding: 0px;
  margin-top: 1px;
  font-size: 1rem;
  background-color: transparent;
  width: 25px;
  text-align: center;
}
.jHAKej i.minus-icon {
  color: #989898;
}
.jHAKej .product-amount-label {
  font-family: Roboto, Lato;
  font-size: 1rem;
  font-weight: 600;
  color: #1d1d1d;
  /* border: 1px solid lightgrey; */
}
.jHAKej i.plus-icon {
  color: #00afef;
}
.jHAKej i.plus-icon-disabled {
  color: #989898;
  cursor: no-drop;
}
.jHAKej .qtyPdpSelect {
  width: 100px;
}

.cLpIaN {
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #41a8dd;
  display: block;
  color: #fff;
  border-radius: 0;
  -webkit-letter-spacing: 2px;
  -moz-letter-spacing: 2px;
  -ms-letter-spacing: 2px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 12px;
  padding: 0.8rem 0.75rem;
  font-size: 0.75rem;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
}
.cLpIaN:hover,
.cLpIaN:active {
  color: #fff;
  background: #41a8dd;
}
.cLpIaN:disabled {
  cursor: not-allowed;
  cursor: not-allowed;
  background-color: #d2d2d2;
}
@media only screen and (max-width: 767px) {
  .cLpIaN.notify_me_ispdp {
    padding: 1rem;
    position: fixed;
    border-radius: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
  }
}

.kLDsun {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.2rem;
  margin-left: -0.2rem;
}

ul.result-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
ul.result-list li {
  list-style: none;
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  padding: 0px 45px 0px 45px;
}
ul.result-list li img {
  width: 100%;
  margin-bottom: 0px;
}
ul.result-list li .result-content {
  width: 100%;
  padding-top: 15px;
  display: block;
  font-size: 1rem;
  color: #777;
}
@media (max-width: 500px) {
  .result-content {
    width: 90%;
    padding-top: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 100pxrem;
    color: #777;
  }
}

.eQqUUy {
  display: block;
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .eQqUUy {
    margin: 10px 4px 0 4px;
  }
}
.eQqUUy h2 {
  text-align: center;
  color: #6da523;
  font-weight: 500;
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  .eQqUUy h2 {
    text-align: center !important;
  }
}
.eQqUUy .result-content {
  display: block;
}
@media only screen and (min-width: 768px) {
  .eQqUUy .result-content {
    text-align: justify !important;
  }
}
.eQqUUy .result-img {
  text-align: center;
}
.eQqUUy .list-icon > img {
  border-radius: 50%;
  border: 1px solid #00000029;
  box-shadow: 0px 0px 6px #00000029;
}
.eQqUUy .html .result-list li img {
  max-width: 186px;
  max-height: 186px;
  border-radius: 10px;
  box-shadow: -10px -10px #92c93533;
}
@media only screen and (max-width: 767px) {
  .eQqUUy .html .result-list li img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .eQqUUy .mobile_display_off {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .eQqUUy .result-content {
    margin-bottom: 10px;
  }
}
.eQqUUy > h2 {
  font-size: 1.5rem;
  color: #000;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  line-height: 1.5;
}
.eQqUUy table,
.eQqUUy th,
.eQqUUy td {
  border: 1px solid #83bfe2;
}
.eQqUUy table {
  width: 100% !important;
  text-align: left;
  border-collapse: collapse;
}
.eQqUUy table tr {
  height: 3vh;
}
.eQqUUy table tr:nth-child(1) {
  background: #bdeafb !important;
  font-weight: bold;
  height: 4vh;
}
.eQqUUy table tr td {
  padding-left: 5px;
}
@media only screen and (max-width: 767px) {
  .eQqUUy table tr td {
    padding-left: 0;
  }
}
.eQqUUy .html {
  text-align: left;
}
.eQqUUy .html .result-list li {
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 0.5rem;
}
.eQqUUy .html .woodmart-list li {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: left;
}
.eQqUUy .html .compare-img img {
  max-width: 300px;
  max-height: 300px;
}
.eQqUUy .html ul.compare-list li {
  display: block;
  text-align: left;
}
.eQqUUy .html ul.compare-list li:nth-child(1) .compare-img {
  padding-bottom: 10px;
}
.eQqUUy .html ul.compare-list li:nth-child(1) .compare-img img {
  border: 2px solid #7ab840;
  height: auto;
  width: 100%;
  margin: auto;
}
.eQqUUy .html ul.compare-list li:nth-child(1) li {
  position: relative;
}
.eQqUUy .html ul.compare-list li:nth-child(1) li:before {
  content: "\2713";
  display: block;
  position: absolute;
  left: -15px;
  top: 2px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #7ab840;
}
.eQqUUy .html ul.compare-list li:nth-child(2) .compare-img {
  padding-bottom: 10px;
}
.eQqUUy .html ul.compare-list li:nth-child(2) .compare-img img {
  border: 2px solid #ef5350;
  height: auto;
  width: 100%;
  margin: auto;
}
.eQqUUy .html ul.compare-list li:nth-child(2) li {
  position: relative;
}
.eQqUUy .html ul.compare-list li:nth-child(2) li:before {
  content: "x";
  display: block;
  position: absolute;
  left: -15px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #ef5350;
}
@media only screen and (min-width: 767px) {
  .eQqUUy .html ul.compare-list li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .eQqUUy .html ul.compare-list li .compare-content {
    padding-left: 20px;
  }
  .eQqUUy .html .result-list li {
    -webkit-flex: 1 1 33%;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    padding: 0.5rem;
  }
  .eQqUUy .html .woodmart-list li {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .eQqUUy .result-list {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .eQqUUy .result-list li {
    -webkit-flex: 1 1 33%;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    padding: 0.5rem;
  }
  .eQqUUy .result-list li .result-content {
    padding-top: 0;
  }
  .eQqUUy .result-list h2 {
    display: block;
    height: 16%;
  }
}

.kAfcau {
  background: white;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 12px 8px;
  margin: 0.25rem;
  width: 210px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .kAfcau {
    width: 170px;
  }
}
.icon-holder {
  border: none;
}
